<header>
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <nav class="dt w-100 border-box pa3 ph5-ns">
    <a class="dtc v-mid mid-gray link dim w-25" href="{{ "/" | relative_url }}" title="{{site.title}}">
      {{site.title | escape}}
    </a>
    <div class="dtc v-mid w-75 tr">
      {% for path in page_paths %}
        {% assign my_page = site.pages | where: "path", path | first %}
        {% if my_page.title %}
          <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ my_page.url | relative_url }}" title="{{my_page.title}}">{{ my_page.title | escape }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </nav>

  <style>
    .redout {
        width: 100%;
        height: 100%;
    }
  </style>
  <iframe class="redout" src="redout.html"></iframe>

</header>